@import './resets';
@import './variables';
@import './study';
@import './mixins';

@function weight($weight-name) {
  @return map-get($font-weights , $weight-name);
}

@function bg-color($color-name) {
  @return map-get($color-background, $color-name);
}

@function acc-color($color-name) {
  @return map-get($color-accent, $color-name);
}

@function font-color($color-name) {
  @return map-get($color-font, $color-name);
}

@function font-size($size-name) {
  @return map-get($font-sizes, $size-name);
}

@function spacing($spacing-name) {
  @return map-get($spacing, $spacing-name);
}

html {
  background: bg-color('primary');
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: column;
  color: font-color('neutral-10');
  font-size: font-size('md');
  font-family: 'Inter';
  position: relative;
  align-items: center;
  overflow-x: hidden;
  line-height: 1.5;

  @include respond-to(medium) {
    gap: spacing('4-x');
  }
}

h {
  font-family: Plus Jakarta Sans;
  font-weight: weight('bold');
  color: font-color('neutral-10');
}

header {
  background: bg-color('primary');
  display: flex;
  padding: spacing('2-x') spacing('3-x');
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  transition: transform 0.5s ease-in-out;

  @include respond-to(medium) {
    flex-direction: column;
    background-color: bg-color('primary');
    padding: 0;
    position: fixed; 
    top: 0;
    bottom: auto; 
    transform: translateY(0);
  }

  &.hidden {
    transform: translateY(100%);
  }
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 99;
  position: relative;

  &__toggle {
    display: none;
    font-size: font-size('xxl');
    background: none;
    border: none;
    color: font-color('neutral-20');
    cursor: pointer;
    z-index: 100;

    a {
      text-decoration: none;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    transition: transform 0.3s ease-in-out;
  }
  
  &__links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    text-align: right;
    gap: spacing('xs');

    a {
      text-decoration: underline;
      color: font-color('neutral-10');
      font-size: font-size('sm');
      padding: spacing('1-x') 0;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  @include respond-to(medium) {
    flex-direction: column;
    padding-bottom: spacing('2-x');
    padding-top: spacing('2-x');

    .navbar__name-link {
      display: none;
    }

    .hide-name {
      display: none;
    }

    &__toggle {
      display: flex;
      justify-content: space-between;
      padding: 0 spacing('2-x');
      align-items: center;

      h2 {
        font-family: Plus Jakarta Sans;
        font-size: font-size('sm');
        font-weight: weight('semibold');
        color: font-color('neutral-10');
      }

      h3 {
        font-family: Plus Jakarta Sans;
        font-size: font-size('xl');
        color: font-color('neutral-10');
      }
    }

    &__menu {
      display: none;
      flex-direction: column;
      align-items: start;
      padding: spacing('2-x') spacing('2-x');
      gap: spacing('2-x');
      width: 100%;
      background: bg-color('neutral-90');
      margin-top: spacing('2-x');

      &.active {
        display: flex;
        transform: translateY(0);
      }
    }

    &__links {
      flex-direction: column;
      width: 100%;
      text-align: left;
      gap: spacing('2-x');

      a {
        text-decoration: none;
        color: font-color('neutral-10');
        font-size: font-size('lg');
        font-weight: weight('regular');
        padding: spacing('1-x') 0;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

    &__name-link {
      display: flex;
      flex-direction: column;
      gap: spacing('xs');
      color: font-color('neutral-10');
      font-family: Plus Jakarta Sans;
      font-size: font-size('sm');
      white-space: nowrap;
      text-decoration: none;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
}

section {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding: spacing('1-x');
  position: relative;
  gap: spacing('2-x');
  border-bottom: 1px solid bg-color('secondary');

  @include respond-to(medium) {
    min-height: auto;
    padding: spacing('1-x');
    gap: spacing('2-x');
  }
}

.hero__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: spacing('1-x');
  
}

.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 1440px;
  padding: spacing('1-x');

  @include respond-to(medium) {
    width: 100%;
    justify-content: left;
    max-width: 100%;
    padding: spacing('1-x');
    height: 100vh;
    justify-content: end;
  }

  span {
    color: font-color('neutral-10');
  }

  a {
    text-decoration: none;
    color: font-color('neutral-10');
    font-weight: weight('regular');
    transition: background-color 0.3s ease, color 0.3s ease;

    img {
      width: 14px;
    }

    &:hover {
      transform: scale(1.01);
      text-decoration: underline;
    }
  }

  #{&}__top {
    display: flex;
    justify-content: space-between;

    @include respond-to(medium) {
      display: none;
    }

    ul {
      list-style-type: none;
      color: font-color('neutral-10');
      padding: 0;
      margin: 0;
    }

    li {
      margin-bottom: 2px;
      font-size: font-size('xs');
      display: flex;
      gap: 4px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: spacing('xs');
    }

    &-title {
      font-size: font-size('xs');
      color: font-color('neutral-20');
    }
  }

  #{&}__bottom {
    margin-top: spacing('20-x');
    margin-bottom: spacing('4-x');
    display: flex;
    flex-direction: column;
    gap: spacing('xs');
    justify-content: space-between;
    color: font-color('neutral-20');

    @include respond-to(medium) {
      margin-top: spacing('2-x');
      margin-bottom: spacing('2-x');
      align-items: left;
    }
  }
  

  #{&}__explainer {
    display: flex;
    gap: spacing('1-x');
    align-items: center;

    @include respond-to(medium) {
      flex-direction: column;
      align-items: flex-start;
    }

    &-name {
      font-size: clamp(font-size('xxl'), 8vw, font-size('10xl'));
      font-weight: weight('light');
      line-height: 100%;

      @include respond-to(medium) {
        font-size: clamp(font-size('xxl'), 8vw, font-size('5xl'));
      }
    }

    &-desc {
      max-width: 500px;
    }
  }

  #{&}__title {
    margin-top: auto;
    font-family: Plus Jakarta Sans;
    word-spacing: 1.5px;
    font-size: clamp(font-size('xxl'), 9vw, font-size('10xl'));
    font-weight: weight('bold');
    color: font-color('neutral-10');
    line-height: 1.2;

    @include respond-to(medium) {
      max-width: 700px;
      font-size: clamp(font-size('xxl'), 9vw, font-size('5xl'));
    }

    @include respond-to(small) {
      max-width: 100%;
    }
  }

  #{&}__links {
    margin-top: spacing('4-x');
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
    border: 1px solid bg-color('opaque');

    @include respond-to(medium) {
      max-width: 100%;
    }
    

    &-line {
      height: 1px;
      width: 100%;
      background: bg-color('opaque');
    }

    &-btn {
      background: none;
      align-items: center;
      width: 100%;
      display: flex;  
      justify-content: space-between;
      color: font-color('neutral-30');
      padding: spacing('1-x');
      text-decoration: none;
      font-size: font-size('md');
      font-weight: weight('regular');
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: acc-color('primary');
        text-shadow: 0 0 8px #2f1f40, 0 0 8px #2f1f40, 0 0 4px #ffcaeb;

        .hero__links-icon {
          transform: scale(1.2);
          transition: transform 0.3s ease;
        }
      }
    }
  }
}

#work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: spacing('1-x');
  padding: spacing('1-x');
  margin-top: spacing('4-x');
  width: 100%; 
  max-width: 1440px;
  border-top: 1px solid bg-color('opaque');

  @include respond-to(medium) {
    width: 100%;
    padding: auto;
    justify-content: left;
    max-width: 100%;
  }
}



.work__title {
  font-family: Plus Jakarta Sans;
  font-size: font-size('xxl');
  font-weight: weight('bold');
  line-height: 1.2;

  @include respond-to(medium) {
    font-size: font-size('xl');
  }
}

.work__content {
  display: flex;
  flex-direction: column;
  
  p {
    font-size: font-size('lg');
  }

  a {
    text-decoration: none;
    color: font-color('neutral-10');
    font-size: font-size('lg');
    font-weight: weight('regular');
    padding: spacing('xs') 0;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.01);

      .work__content-item-heading {
        text-decoration: underline;
      }

      .work__content-item-icon {
        transform: scale(1.06);
        transition: transform 0.3s ease;
      }
    }
  }

  &-line {
    height: 1px;
    width: 100%;
    background: bg-color('opaque');
  }

  &-item {
    display: flex;
    gap: spacing('2-x');
    padding: spacing('1-x') 0;
    position: relative;

    &-project {
      display: flex;
      max-width: 500px;
      width: 100%;
      flex-direction: column;
      gap: spacing('1-x');
    }

    &-heading {
      display: flex;
      align-items: center;
      gap: spacing('xs');

      @include respond-to(small) {
        flex-direction: column;
        align-items: start;
      }
    }

    &-tag {
      color: font-color('neutral-20');
      font-size: font-size('xs');
    }

    &-thumbnail {
      position: absolute;
      right: 40px;
      top: -80px;
      max-width: 500px;
      overflow: hidden;
      border-radius: 8px;
      opacity: 0;
      transition: opacity 0.3s ease;
      pointer-events: none;

      img {
        width: 100%;            /* Image fills the container's width */
        height: auto;           /* Maintain aspect ratio */
        object-fit: contain;    /* Ensures the full image is visible */
        display: block;         /* Removes inline space */
      }
    }

    &:hover .work__content-item-thumbnail {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.shots {
  margin-bottom: spacing('4-x');
}

.shots-grid{
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100vw;
  overflow: hidden;
  overflow-x: auto;
  padding: 16px;
}

.shots-row {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  max-width: 100vw;
  position: relative;
  
}

.shot {
  flex: 0 0 auto;
  width: 400px;
  height: auto;
}

.shots-row img {
  max-width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

.shots-row::-webkit-scrollbar {
  display: none;
}

#about {
  margin-top: spacing('4-x');
  margin-bottom: spacing('4-x');
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: spacing('3-x');
  width: 100%;
  padding: spacing('1-x') spacing('1-x');
  vertical-align: middle;
  max-width: 1440px;
  

  @include respond-to(medium) {
    width: 100%;
    padding: auto;
    justify-content: left;
    max-width: 100%;
  }

  a {
    text-decoration: underline;
    color: font-color('neutral-10');
    font-size: font-size('lg');
    font-weight: weight('regular');
    padding: spacing('1-x') 0;
    transition: transform 0.3s ease;
    border-radius: 1000px;
    display: flex;
    gap: spacing('xs');
    width: auto; 

    &:hover {
      transform: scale(1.01);

      & img {
        transform: scale(1.1);
        transition: transform 0.3s ease;
      }
    }
  }
}

.about__title {
  font-family: Plus Jakarta Sans;
  font-size: font-size('xxl');
  font-weight: weight('bold');
  line-height: 1.2;

  @include respond-to(medium) {
    font-size: font-size('xl');
  }
}

.about__skills {
  margin-top: spacing('4-x');
  display: flex;
  white-space: nowrap;
  gap: spacing('xs');
  padding: spacing('1-x') 0;
  list-style-type: none;
  flex-wrap: wrap;

  @include respond-to(medium) {
    max-width: none;
  }

  li {
  padding: spacing('s') spacing('1-x');
  border: 1px solid bg-color('tertiary');
  border-radius: 200px;
  line-height: 1;
  font-size: font-size('xl');
  }
}

.about__tools {
  margin-top: spacing('4-x');
  display: flex;
  white-space: nowrap;
  gap: spacing('3-x');
  padding: spacing('1-x') 0;
  flex-wrap: wrap;

  @include respond-to(medium) {
    max-width: none;
  }

  img {
    height: 56px;
    width: auto;
  }
}

.about__bio {
  display: flex;
  flex-direction: column;
  max-width: 65%;
  gap: spacing('1-x');

  @include respond-to(medium) {
    max-width: none;
  }

  p {
    font-size: font-size('lg');
    color: font-color('neutral-10');
    line-height: 1.3;
  }
}


#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: spacing('3-x');
  width: 100%;
  padding: spacing('4-x') spacing('1-x');
  max-width: 1440px;

  @include respond-to(medium) {
    width: 100%;
    padding: auto;
    justify-content: left;
    max-width: 100%;
    padding: spacing('6-x') spacing('2-x');
  }

  .contact__title {
    font-family: Plus Jakarta Sans;
    font-size: font-size('xxl');
    font-weight: weight('bold');
    color: font-color('neutral-10');
    line-height: 1.2;
    max-width: 600px;

    @include respond-to(medium) {
      font-size: font-size('xl');
    }
  }

  .contact__links {
    display: flex;
    align-items: start;
    gap: spacing('xs');
    width: 100%;
    transition: transform 0.3s ease;
    max-width: 65%;
    margin-bottom: spacing('4-x');

    @include respond-to(medium) {
      flex-direction: column;
    }

    &-line {
      height: 1px;
      width: 100%;
      background: bg-color('secondary');
    }

    &-btn {
      svg {
        height: 24px;
        transition: transform 0.3s ease;
      }

      display: flex;
      background: bg-color('tertiary');
      gap: spacing('xs');
      align-items: center;
      color: font-color('white');
      padding: spacing('xs') spacing('1-x');
      text-decoration: none;
      font-size: font-size('lg');
      font-weight: weight('regular');
      border-radius: 100px;
      cursor: pointer;
      transition: color 0.3s ease;
      height: 100%;

      &:hover {
        background: bg-color('tertiary');
        color: font-color('white');
        box-shadow: 0 0 8px #f0f0f0, 0 0 8px #f0f0f0, 0 0 4px #f0f0f0;
        transform: scale(1.01);
        transition: transform 0.3s ease;

        .contact__links-icon {
          transform: scale(1.2);
          transition: transform 0.3s ease;
        }

        svg {
          fill: bg-color('primary');
        }
      }
    }
  }
}

.study__hero {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: spacing('2-x');
  max-width: 900px;
  padding-top: spacing('2-x');
  
  align-items: center;
  overflow: hidden;

  @include respond-to(medium) {
    align-items: start;
    max-width: 100%;
    padding: spacing('10-x') 0 spacing('4-x') 0;
  }

  &-cover {
    img {
      top: 300px;
      width: 3000px;
    }
  }
  
}

.study__heading {
  display: flex;
  flex-direction: column;
  gap: spacing('2-x');
  align-items: center;

  @include respond-to(medium) {
    align-items: start;
  }

  &-title {
    margin-top: auto;
    font-family: Plus Jakarta Sans;
    word-spacing: 1.5px;
    font-size: font-size('xxl');
    font-weight: weight('bold');
    text-align: center;
    line-height: 1.2;
    max-width: 600px;

    @include respond-to(medium) {
      font-size: font-size('xl');
      text-align: left;
      max-width: 700px;
    }
  }
}

.study__content {
  display: flex;
  flex-direction: column;
  gap: spacing('2-x');
  max-width: 950px;
  padding: spacing('4-x') spacing('4-x');

  @include respond-to(medium) {
    width: 100%;
    justify-content: left;
    max-width: 100%;
    padding: spacing('2-x') 0;
    gap: spacing('1-x');
  }

  &-olist {
      list-style-position: inside;
      display: flex;
      flex-direction: column;
      gap: spacing('s');
  }

  &-title {
    font-family: Plus Jakarta Sans;
    font-size: font-size('xxl');
    font-weight: weight('bold');
    line-height: 1.2;

    @include respond-to(medium) {
      font-size: font-size('xl');
    }
  }

  &-subtitle {
    font-family: Plus Jakarta Sans;
    font-size: font-size('lg');
    font-weight: weight('bold');
    color: font-color('neutral-20');
  }

  &-text {
    display: flex;
    flex-direction: column;
    gap: spacing('1-x');
    font-size: font-size('md');
    font-weight: weight('regular');
  }

  &-role {
    display: flex;
    white-space: nowrap;
    gap: spacing('xs');
    padding: spacing('1-x') 0;
    list-style-type: none;
    flex-wrap: wrap;

    li {
      padding: spacing('s') spacing('1-x');
      background-color: bg-color('secondary');
      border-radius: 200px;
      line-height: 1;
    }
  }

  span {
    color: font-color('neutral-10');
    font-weight: weight('medium');
  }
}

.study__insert {
  display: flex;  
  flex-direction: column;
  gap: spacing('s');
  align-items: center;
  margin: spacing('2-x') 0;

  &-image {
    width: 100%;
    max-width: 900px;
    border-radius: 8px;
  }

  &-description {
    font-size: font-size('sm');
    text-align: center;
    color: font-color('neutral-20');
  }
}

.study__line {
  height: 2px;
  width: 100%;
  max-width: 900px;
  background: bg-color('opaque');
}

.study__columns {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  padding: 0 spacing('2-x');
  gap: spacing('s');
  justify-content: left;

  @include respond-to(medium) {
    flex-direction: column;
    padding: 0;
    width: 100%;
  }

  &-title {
    font-family: Inter;
    font-size: font-size('xl');
    font-weight: weight('medium');
    color: font-color('neutral-10');
  }

  &-text {
    display: flex;
    flex-direction: column;
    gap: spacing('1-x');
    font-size: font-size('md');
    font-weight: weight('regular');
  }
  

  &-highlight {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: spacing('s');
    padding: spacing('2-x') spacing('2-x');
    border: 1px solid bg-color('secondary');
    border-radius: 8px;
    width: 100%;
    flex: 0 1 calc(50% - 24px);
    position: relative;

    img {
      height: 40px;
    }
  }

  &-selected {
    position: absolute;
    left: -16px;
    top: -16px;
  }
}

.study__rows {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  padding: 0 spacing('2-x');
  gap: spacing('2-x');
  justify-content: left;

  @include respond-to(medium) {
    padding: 0;
  }

  &-content {
    display: flex;
    gap: spacing('1-x');
    padding: spacing('2-x') spacing('2-x') spacing('4-x') spacing('2-x');
    background: bg-color('opaque');
    border-radius: 8px;
    width: 100%;
    overflow: hidden;

    @include respond-to(medium) {
      flex-direction: column;
    }
  }

  &-write {
    display: flex;
    flex-direction: column;
    gap: spacing('s');
    width: 100%;
    flex: 0 1 calc(50% - 24px);
  }

  &-title {
    font-family: Inter;
    font-size: font-size('xl');
    font-weight: weight('medium');
    color: font-color('neutral-10');
  }

  &-text {
    display: flex;
    flex-direction: column;
    gap: spacing('1-x');
    font-size: font-size('md');
    font-weight: weight('regular');
    color: font-color('neutral-30');
  }
}

.study__rows-image {
  display: flex;
  flex: 0 1 calc(50% - 24px);
  position: relative;

  @include respond-to(medium) {
    flex: 1 1 auto;
    margin-top: spacing('1-x');
  }
}

.study__rows-image img {
  height: 160%;
  position: absolute;
  bottom: -100px;
  left: 40px;
  border-radius: 8px;

  @include respond-to(medium) {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: static;

  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal img {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
  border-radius: 8px;
}

.modal.active {
  display: flex;
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 32px;
  color: white;
  cursor: pointer;
  z-index: 10000;
}

footer {
  padding: spacing('s');
  font-size: font-size('xs');
  justify-content: center;
  text-align: center;
  background-color: bg-color('opaque');
  color: font-color('neutral-20');
}

